################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AbstractFactory/obj/Debug
/AbstractFactory/bin/Debug
/FactoryPattern/obj/Release
/FactoryPattern/obj/Debug
/FactoryPattern/bin/Debug
/.vs/DesignPatterns/v16/.suo
