################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AbstractFactory/obj/Debug
/AbstractFactory/bin/Debug
/FactoryPattern/obj/Release
/FactoryPattern/obj/Debug
/FactoryPattern/bin/Debug
/.vs/DesignPatterns/v16/.suo
/FactoryPattern/bin/Release
/AbstractFactory/obj/Release
/AbstractFactory/bin/Release
/Singleton/obj/Debug
/Singleton/bin/Debug
/packages/MSTest.TestFramework.2.1.1/lib
/packages/MSTest.TestFramework.2.1.1
/Singleton/obj/Release
/Singleton/bin/Release
/Decorator/bin
/Decorator/obj
